{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    {% for booking in bookings %}
        <div class="col-md-12">
            <div class = "content-section">
                <h2><a href="{% url 'booking-detail' booking.id %}">BookingID: {{booking.id}}</a></h2>
                <h3>{{ booking.customer.username }}</h3>
                <h4>{{ booking.allocated_car.make }} {{ booking.allocated_car.model }}</h4>
                <h4>{{ booking.allocated_driver.first_name }} {{ booking.allocated_driver.last_name }}</h4>
                <h4>{{ booking.start_date_time }}</h4>
                <h4>{{ booking.end_date_time }} </h4>
            </div>
        </div>
    {% endfor %}
{% endblock content %}