{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    <div class = "row">
        {% for car in cars %}
            <div class="col-lg-4">
                <!-- car.img -->
                <img class="thumbnail" src = "{{ car.image.url }}"/>
                <div class ="box-element product">
                    <h6><strong>{{ car.make }}</strong></h6>
                    <hr>
                    <!-- agency-book-car -->
                    <a href="{% url 'agency-register-car' %}">
                        <button class ="btn btn-outline-secondary add-btn">Car</button>
                    </a>
                    <a class ="btn btn-outline-success" href="#">Car</a>
                    <!-- car.fare -->
                    <h4 style ="display: inline-block,float: right">$250</h4>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}

 <!-- <div class="col-lg-4">
            <img class="thumbnail" src = "{% static 'agency/images/1200px-96-98_Honda_Civic_LX_sedan.jpg' %}"/>
            <div class ="box-element product">
                <h6><strong>Honda Civic </strong></h6>
                <hr>
                <button class ="btn btn-outline-secondary add-btn">Book Car</button>
                <a class ="btn btn-outline-success" href="#">View Car</a>
                <h4 style ="display: inline-block,float: right">$300</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src = "{% static 'agency/images/2020-toyota-prius-xle-gs-angular-front-exterior-view_100709350_l.jpg' %}"/>
            <div class ="box-element product">
                <h6><strong>Toyota Prius </strong></h6>
                <hr>
                <button class ="btn btn-outline-secondary add-btn">Book Car</button>
                <a class ="btn btn-outline-success" href="#">View Car</a>
                <h4 style ="display: inline-block,float: right">$450</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail"  src = "{% static 'agency/images/c1.jpg' %}"/>
            <div class ="box-element product">
                <h6><strong>Suzuki Mehran </strong></h6>
                <hr>
                <button class ="btn btn-outline-secondary add-btn">Book Car</button>
                <a class ="btn btn-outline-success" href="#">View Car</a>
                <h4 style ="display: inline-block,float: right">$100</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src = "{% static 'agency/images/836abe159a_640.jpg' %}"/>
            <div class ="box-element product">
                <h6><strong>Mercedes Kompressor </strong></h6>
                <hr>
                <button class ="btn btn-outline-secondary add-btn">Book Car</button>
                <a class ="btn btn-outline-success" href="#">View Car</a>
                <h4 style ="display: inline-block,float: right">$600</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src = "{% static 'agency/images/unnamed.jpg' %}"/>
            <div class ="box-element product">
                <h6><strong>Suzuki Cultus </strong></h6>
                <hr>
                <button class ="btn btn-outline-secondary add-btn">Book Car</button>
                <a class ="btn btn-outline-success" href="#">View Car</a>
                <h4 style ="display: inline-block,float: right">$300</h4>
            </div>
        </div>
    </div> -->
<!-- <h1> {{ car.manufacturer }} </h1> -->
        <!-- <h2> {{ car.name }} </h2> -->
        <!-- <h3> {{ car.year }} </h3> -->