{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    {% for car in cars %}
    <div class="col-md-8">
        <div class = "content-section">
            <img class="img-thumbnail" src = "{{ car.image.url }}"/>
            <h2><a href="{% url 'car-detail' car.reg_no %}">{{ car.car_model.make }}</a></h2>
            <h4>{{ car.car_model.model }}</h4>
            <h5>${{ car.fare.car_fare }}</h5>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

{% comment %} <div class = "row">
        {% for car in cars %}
            <div class="col-lg-4">
                <!-- car.img -->
                <img class="thumbnail" src = "{{ car.image.url }}"/>
                <div class ="box-element product">
                    <h6><strong>{{ car.make }}</strong></h6>
                    <hr>
                    <!-- agency-book-car -->
                    <a href="{% url 'agency-register-car' %}">
                        <button class ="btn btn-outline-secondary add-btn">Car</button>
                    </a>
                    <a class ="btn btn-outline-success" href="#">Car</a>
                    <!-- car.fare -->
                    <h4 style ="display: inline-block,float: right">$250</h4>
                </div>
            </div>
        {% endfor %}
    </div> {% endcomment %}