{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    <div class="col-md-16">
        <div class="content-section">
            <h3>Manage Drivers</h3>
            <ul class="list-group">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-register-driver' %}" role="button">Add Driver</a>
                <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Update Driver</a>
                <a class="btn btn-danger btn-lg btn-block" href="{% url 'agency-delete-driver' %}" role="button">Delete Driver</a>
            </ul>
        </div>
    </div>
{% endblock content %}