{% extends "agency/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>REGISTER CAR HERE</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Add Car </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Add</button>
            </div>
        </form>
    </div>
{% endblock content %}